* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

body {
  background-color: #efeeee;
}

#Montserrat {
  font-family: Arial, Helvetica, sans-serif;
}

.flex {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.back-to-top {
  position: fixed;
  top: 695px;
  left: 1050px;
  background-color: rgb(12, 176, 86);
  color: #fff;
  width: 100px;
  height: 50px;
  border-radius: 25px;
  border: 1px solid #b0afaf;
  cursor: pointer;
}

/* ############################################################################################################################ */
/* HEADER */

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  background-color: #fff;
  height: 50px;
  gap: 10px;
}

.main_header {
  display: flex;
  gap: 10px;
  text-decoration: none;
  margin-left: 20px;
}

.main_header:visited {
  color: black;
}

.tidder {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: bold;
  align-self: center;
  color: black;
}

form {
  align-self: center;
}

#search {
  width: 600px;
  border-radius: 20px;
  border: 1px solid white;
  background-color: #efeeee;
  align-items: center;
  padding: 10px;
  margin-right: 40px;
  margin-left: 250px;
}

#search:hover {
  border: 1px solid green;
}

.nav-logo {
  margin-right: 20px;
  width: 32px;
  height: 32px;
}

.nav-logo:hover {
  background-color: #bbbab9;
  border-radius: 8px;
}

.user-info {
  font-family: "Hind Siliguri", sans-serif;
}

.user-info {
  text-decoration: none;
  font-size: 16px;
  margin-left: 10px;
  margin-right: 20px;
}

.user-info:visited {
  color: black;
}
.logsign {
  margin-right: 10px;
  width: 100px;
  height: 40px;
  overflow: hidden;
  border-radius: 30px;
  border: none;
  color: #000;
  cursor: pointer;
}
.logsign:hover {
  background-color: #09d25d;
  transition: 0.2s all ease;
  color: #fff;
}

/* ############################################################################################################################ */
/* MAIN */

.main {
  position: relative;
  top: 70px;
}

.create-post {
  width: 650px;
  height: 50px;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 2px;
}

.profile-photo {
  position: absolute;
  top: 5px;
  left: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.circle {
  position: absolute;
  top: 32px;
  left: 37.5px;
  width: 12px;
  height: 12px;
  background-color: rgb(35, 249, 35);
  border-radius: 50%;
  color: rgb(35, 249, 35);
}

#main-post {
  position: absolute;
  top: 5px;
  left: 60px;
  width: 480px;
  height: 40px;
  background-color: #efeeee;
  border: 1px solid white;
  border-radius: 10px;
}

#main-post:hover {
  border: 1px solid green;
}

#main-post::placeholder {
  position: absolute;
  left: 20px;
}

.img-icon {
  position: absolute;
  left: 560px;
  top: 10px;
}

.link-icon {
  position: absolute;
  left: 610px;
  top: 13px;
  width: 25px;
  height: 25px;
}

.link-icon:hover {
  background-color: #efeeee;
  cursor: pointer;
  border-radius: 5px;
}

.main-icon {
  width: 33px;
  height: 33px;
}

.main-icon:hover {
  background-color: #efeeee;
  width: 33px;
  height: 33px;
  cursor: pointer;
  border-radius: 5px;
}

.post {
  /* position: absolute;
  top: 90px; */
  margin-bottom: 30px;
  width: 650px;
  background-color: #fff;
}

.post h3 {
  font-size: 16px;
  color: #9e9e9e;
  margin-left: 40px;
  margin-bottom: 20px;
}

.post p {
  font-size: 24px;
  margin-left: 40px;
}

.comment-a {
  text-decoration: none;
  color: #000;
}

.post-flex {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 150px;
  height: 40px;
  padding: 10px;
  border-radius: 10px;
}

.post-flex:hover {
  background-color: #dddcdc;
}

.block:hover {
  background-color: #fff;
  cursor: default;
}

.comment-logo {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

/* ############################################################################################################################ */
/* CONTENT */

.main-weather {
  margin-top: 70px;
  width: 300px;
  height: 150px;
  background-color: #fff;
  text-align: center;
}

.main-weather p {
  position: absolute;
  top: 125px;
  right: 340px;
}

.main-home {
  width: 300px;
  height: 175px;
  background-color: #fff;
  text-align: center;
}

.main-home h1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.main-home p {
  width: 250px;
  margin: 0 auto;
}

.main-hr {
  background-color: rgb(203, 205, 207);
  border: none;
  width: 250px;
  height: 1px;
  margin-left: 20px;
  margin-top: 20px;
}

.main-home-post {
  background-color: #eb9c5c;
  border: 1px solid #fff;
  border-radius: 20px;
  color: #fff;
  width: 200px;
  height: 30px;
  margin-top: 10px;
}

.main-home-post:hover {
  background-color: #f1b07b;
  cursor: pointer;
}

/* ############################################################################################################################ */
/* COMMENT SECTION */

.comment-section {
  font-family: "Montserrat", sans-serif;
  width: 650px;
  height: 250px;
  background-color: #fff;
  padding-bottom: 300px;
}

.comment-section p {
  font-size: 14px;
  margin-left: 100px;
  padding-top: 20px;
}

#post {
  margin-left: 100px;
  margin-top: 20px;
  width: 450px;
}

#post {
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

#post::placeholder {
  color: #aaa;
}

#post:focus {
  outline: none;
  border-color: #02581c;
  box-shadow: 0 0 5px rgba(5, 252, 104, 0.5);
}

.comment-button {
  width: 100px;
  height: 25px;
  margin-left: 450px;
  background-color: #0ca83b;
  border: 1px solid #fff;
  border-radius: 25px;
  color: #fff;
  cursor: pointer;
}

.comment-button:hover {
  background-color: #01c63c;
}

.comment-hr {
  width: 550px;
  margin-left: 50px;
}

.user-comment {
  font-family: "Montserrat", sans-serif;
  width: 650px;
  background-color: #fff;
  padding-left: 60px;
  margin-bottom: 100px;
}

.user-comment span {
  color: #636262;
}


.delete-post {
  position: absolute;
  left: 550px;
}

.comment-flash{
  position: absolute;
  top: 100px;
  left: 130px;
}

.react-like {
  margin-left: 5px;
  height: 30px;
  width: 30px;
}

