.add-friends-button{
    position: absolute;
    border-radius: 30px;
    color: #000102;
    background: #09d25d;
    width: 150px;
    height:40px;
    left: 600px;
    top: -100px;

}
.add-friends-section {
    width: 700px;
}
.add-users {
    position: absolute;
    top: 60px;
}
.add-user-button{
    margin-left: 470px;
    border-radius: 30px;
    color: #000102;
    background: #09d25d;
    width: 150px;
    height:40px;

}
