.add-friends-button{
    position: absolute;
    border-radius: 30px;
    color: #000102;
    background: #09d25d;
    width: 150px;
    height:40px;
    top: 0;
    left: 600px;
}
.add-friends-section {

    width: 700px;

}