<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/static//css/app.css" />
  </head>
  <body>
    <!-- ######################################################### -->
    <!-- HEADER -->
    <header>
      <a href="/feed" class="main_header">

        <img src="/static/images/reddit-32.png" alt="Tidder Logo" />
        <p class="tidder" id="Montserrat">Tidder</p>
      </a>
      <!-- <img src="/img/home.png" alt="Home Logo" class="home-logo" /> -->
      <form name="search_query" action="/feed" type="text">
        <input
          type="text"
          name="search_query"
          id="search"
          placeholder="Search Tidder"
        />
      </form>
      <head class="nav-logos">
        <a href="#">

          <img
            src="/static/images/popular.png"
            alt="Popular Logo"
            class="nav-logo"
            title="Popular"
          />
        </a>
        <a href="#">

          <img
            src="/static/images/chat logo.png"
            alt="Chat Logo"
            class="nav-logo"
            title="Chat"
          />
        </a>
        <a href="/friends">

          <img
            src="/static/images/friends.png"
            alt="Friends Logo"
            class="nav-logo"
            title="Friends"
          />
        </a>
      </head>

      <a href="{{ url_for('logout') }}">
        <button class="logsign">
          <strong>LOG OUT</strong>
        </button>
      </a>
      <a href="/profile/{{user.username}}" class="user-info" style="font-size: 17px">
        <div>{{ user.username }}</div>
      </a>
    </header>
    <!-- ######################################################### -->
    <!-- MAIN -->
    <div class="flex">
      <section class="main">
        <div class="create-post">

          <img
            src="/static/images/goat.jpg"
            alt="Messi"
            class="profile-photo"
          />
          <div class="circle">`</div>
          <a href="/createpost">
            <input
            type="text"
            name="main-post"
            id="main-post"
            placeholder="Create Post"
          /></a>

          <img
            src="/static/images/img icon.png"
            alt="img icon"
            class="img-icon main-icon"
            title="Create Media Post"
          />
          <img
            src="/static/images/img icon.png"
            alt="img icon"
            class="img-icon main-icon"
            title="Create Media Post"
          />

          <img
            src="/static/images/link.png"
            alt="link icon"
            class="link-icon"
            title="Attach A Link"
          />
        </div>
        {% for post in posts %}
        <div class="post">
          {% if user.id in post.likes|map(attribute = "author")|list %}
          <a href="/like-post/{{post.id}}">
          <i> <img class = "react-like" src="/static/images/heart colored.png">{{post.likes|length}} </i>
          </a>
          {% else %}
          <a href="/like-post/{{post.id}}" class="like-logo">
              <img class="react-like" src="/static/images/heart.png">
              <i class="i">{{post.likes|length}} </i>
          </a>
          {%endif%}


          <h3> <a href="/profile/{{post.users.username}}" class="post-username">Posted by {{ post.users.username }}</a>  </h3>
          <p>{{ post.text }}</p>
          <h3>Date Created: {{ post.date_created }}</h3>

          <a href="/create-comment/{{post.id}}" class="comment-a">
            <div class="post-flex">
                <div class="post-flex-comment">
                  <img
                    src="/static/images/comment-icon.svg"
                    alt="comment logo"
                    class="comment-logo"
                  />
                  <span>{{ post.comments|length}} comment</span>
                </div>
              {% if user.id == post.author  %}
            <button class="delete-post" type="button">
                <a href="/delete-post/{{post.id}}" class="delete-button">Delete</a>
            </button>
                {% endif %}
            </div>
          </a>
        </div>
        {% endfor %}
      </section>

      <section class="content">
        <div class="main-weather">
            <h1>{{ city }}</h1>
            <div class="main-weather-flex">
                <div>
                    <img src="/static/images/weather.svg" alt="weather logo"/>
                    <p>{{ climat }}</p>
                </div>
                <div>
                    <p>Celsius: {{ temp }}°</p>
                </div>
                <div style="font-size: 14px">
                    <p>Pressure: {{ pressure }}</p>
                    <p>Wind: {{ wind }}</p>
                </div>
            </div>
        </div>

        <div class="main-home">
          <h1>Home</h1>
          <p>
            Your personal Tidder frontpage. Come here to check in the Tidder
            Community.
          </p>
          <hr class="main-hr" />
          <button class="main-home-post">
              <a href="/createpost">Create Tidder Post</a>
          </button>
        </div>

      </section>
    </div>
    <a href="#"> <button class="back-to-top">Back to top</button> </a>
  </body>
</html>
