 {% extends 'baseuser.html' %} {%block content%}
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap"
  rel="stylesheet"
/>
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap"
  rel="stylesheet"
/>
<!--<link rel="stylesheet" href="/static/css/style.css" />-->
<img
  src="/static/images/reddit photo.png"
  alt="good photo"
  class="background-photo"
/>
<section class="password-section">
    <img
    src="{{ url_for('static', filename='images/reddit-32.png') }}"
    alt="Google"
  />
<!--  <img src="/static/images/reddit-32.png" alt="Tidder Logo" />-->
  <h1>Reset your password</h1>
  <p>
    Tell us the username and email address associated with <br />
    your Tidder account, and we’ll send you an email with a link <br />
    to reset your password.
  </p>
  <form method="POST" class="mt-30">
    <input
      class="user"
      type="text"
      name="username"
      required
      placeholder="USERNAME"
    />
    <input
      class="user"
      type="text"
      name="username"
      required
      placeholder="EMAIL"
    />
    <button type="submit" class="submit">RESET PASSWORD</button>
  </form>

  <div class="password-buttons">
    <a href="/forgotusername" class="forgot-username"><strong>FORGOT USERNAME?</strong></a>
    <div class="mt-30">
      <a href="/"><strong>LOG IN</strong></a>
      <a href=""><strong>*</strong></a>
      <a href="/signup"><strong>SIGN UP</strong></a>
    </div>
  </div>
</section>
 {% endblock %}
