<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{user.username}}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap"
      rel="stylesheet"
    />
    <!-- <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/app.css') }}"
    /> -->
    <link rel="stylesheet" href="/static//css/app.css" />
  </head>
  <body>
    <!-- ######################################################### -->
    <!-- HEADER -->
    <header>
      <a href="/feed" class="main_header">
        <!-- <img
          src="{{ url_for('static', filename='images/reddit-32.png') }}"
          alt="Tidder Logo"
        /> -->
        <img src="/static/images/reddit-32.png" alt="Tidder Logo" />
        <p class="tidder" id="Montserrat">Tidder</p>
      </a>
      <!-- <img src="/img/home.png" alt="Home Logo" class="home-logo" /> -->
      <form name="search_query" action="#" type="text">
        <input
          type="text"
          name="search_query"
          id="search"
          placeholder="Search Tidder"
        />
      </form>
      <head class="nav-logos">
        <a href="#">

          <img
            src="/static/images/popular.png"
            alt="Popular Logo"
            class="nav-logo"
            title="Popular"
          />
        </a>
        <a href="#">

          <img
            src="/static/images/chat logo.png"
            alt="Chat Logo"
            class="nav-logo"
            title="Chat"
          />
        </a>
        <a href="/friends">

          <img
            src="/static/images/friends.png"
            alt="Friends Logo"
            class="nav-logo"
            title="Friends"
          />
        </a>
      </head>

      <a href="{{ url_for('logout') }}">
        <button class="logsign">
          <strong>LOG OUT</strong>
        </button>
      </a>
      <a href="/profile/{{user.username}}" class="user-info" style="font-size: 17px">
        <div>{{ user.username }}</div>
      </a>
    </header>
    <!-- ######################################################### -->
    <!-- MAIN -->
    <div class="flex">
      <section class="main">

        {% for post in posts %}
        <div class="post">
          {% if user.id in post.likes|map(attribute = "author")|list %}
          <a href="/like-post/{{post.id}}">
          <i> <img class = "react-like" src="/static/images/heart colored.png">{{post.likes|length}} </i>
          </a>
          {% else %}
          <a href="/like-post/{{post.id}}">
          <i> <img class = "react-like" src="/static/images/heart.png">{{post.likes|length}} </i>
          </a>
          {%endif%}
          <h3> <a href="/profile/{{post.users.username}}">{{ post.users.username }}</a>  </h3>
          <p>{{ post.text }}</p>
          <h3>Date Created: {{ post.date_created }}</h3>

          <a href="/create-comment/{{post.id}}" class="comment-a">
            <div class="post-flex">
              <img
                src="/static/images/comment-icon.svg"
                alt="comment logo"
                class="comment-logo"
              />

              <span>{{ post.comments|length}} comment</span>
              {% if user.id == post.author  %}
            <button class="delete-post" type="button"> <a href="/delete-post/{{post.id}}">Delete</a> </button>
                {% endif %}
            </div>

          </a>
        </div>
        {% endfor %}


      </section>

      <section class="content">
        <div class="main-weather">
          <p>
            <h4>{{city}}</h4>  <br />
          <h4>{{climat}}</h4>
          <h4>{{temp}}°</h4>  <br />
            Wind: {{ wind }} <br />
            Pressure: {{ pressure }} <br />
          </p>
        </div>



      </section>
    </div>
    <a href="#"> <button class="back-to-top">Back to top</button> </a>
  </body>
</html>

